<div> 
 <div style="text-align:center">Add Employee</div>
 <div>Employee Id: <input style="float:right;height:20px" type="text"  ng-model="e1" /></div>
 <div>First Name: <input style="float:right;height:20px" type="text"  ng-model="e2" /></div>
 <div>Last Name: <input style="float:right;height:20px" type="text"  ng-model="e3" /></div>
 <div>Employee Location: <input style="float:right;height:20px" type="text"  ng-model="e4" /></div>
 <div>Employee Position: <input style="float:right;height:20px" type="text"  ng-model="e5" /></div>
 <div>Employee Gender:<span style="float:right"><input type="radio" name="gender" value="male" ng-model="e6" checked> Male
  <input type="radio" name="gender" value="female" ng-model="e6"> Female</span></div>

   <div  style="text-align:center"><button style="align:center" ng-click="save()">Save</button></div>
</div>